modules = ["python-3.12", "nodejs-20", "web"]
run = "python undefined"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "python undefined"]

[workflows]
runButton = "Run Web Server"

[[workflows.workflow]]
name = "Run Web Server"
author = 46111249
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_server.py"
